---
import { type CollectionEntry, getCollection } from "astro:content";
import { titleCase } from "title-case";
import Layout from "../components/Layout.astro";
import Prose from "../components/Prose.astro";
import FormattedDate from "../components/FormattedDate.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
const title = titleCase(post.data.title);
---

<Layout title={title}>
  <div class="mt-10"></div>
  <div
    class="flex flex-col sm:flex-row sm:items-end sm:justify-between gap-x-6"
  >
    <h1 class="text-xl font-semibold tracking-tighter">
      {title}
    </h1>
    <p class="text-sm italic text-base-400 shrink-0">
      <FormattedDate date={post.data.pubDate} />
    </p>
  </div>

  {
    post.data.image && (
      <img
        src={post.data.image}
        alt=""
        class="mt-6 rounded-md ring-4 ring-base-white shadow-lg aspect-[544/225] object-cover w-full"
      />
    )
  }

  {
    post.data.updatedDate && (
      <div class={post.data.image ? "mt-6" : "mt-8"}>
        <p class="text-sm italic">
          This post was updated on{" "}
          <FormattedDate date={post.data.updatedDate} />
        </p>
      </div>
    )
  }

  <Prose class={post.data.image || post.data.updatedDate ? "mt-6" : "mt-8"}>
    <Content />
  </Prose>

  <div class="text-sm mt-8 font-handwriting text-right">
    <p class="text-xl">– Jannik</p>
  </div>
  <div class="mt-24"></div>
</Layout>
