---
import { Image } from "astro:assets"
import { HANDLES } from "../constants"
import MyPortrait from "../assets/me.jpeg"
import Tag from "./Tag.astro"
import SectionTitle from "./SectionTitle.astro"
---

<header class="flex flex-col gap-8">
  <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
    <div
      class="size-16 shrink-0 overflow-hidden rounded-full border-2 border-white shadow-md shadow-zinc-200 sm:size-24"
    >
      <Image
        src={MyPortrait}
        loading="eager"
        alt="Jannik"
        class="block aspect-square h-full w-full object-cover"
        width={96}
        height={96}
      />
    </div>
    <div class="space-y-2">
      <div>
        <h1 class="scroll-m-20 text-xl font-semibold tracking-tighter">
          Jannik Baranczyk
        </h1>
        <div class="text-sm text-zinc-500">
          <p>Full Stack dev, climber, hobby barista.</p>
        </div>
      </div>
      <div class="flex space-x-2">
        <Tag
          label={`@${HANDLES.GITHUB}`}
          icon="/github.svg"
          link={`https://github.com/${HANDLES.GITHUB}`}
          alt="GitHub"
        />
        <Tag
          label={`@${HANDLES.BLUESKY}`}
          icon="/bluesky.png"
          link={`https://bsky.app/profile/${HANDLES.BLUESKY}`}
          alt="Bluesky"
        />
      </div>
    </div>
  </div>

  <section class="space-y-2">
    <div class="flex flex-col gap-4">
      <SectionTitle>Hello, friend.</SectionTitle>

      <p class="text-sm leading-relaxed text-zinc-500">
        I currently work as a full stack developer at <a
          href="https://360vier.de"
          target="_blank"
          class="font-medium underline underline-offset-2">360VIER</a
        >. In my free time, I enjoy spending time with my wife, tinkering on
        little side projects, or hang out at the local climbing gym.
      </p>

      <p class="text-sm leading-relaxed text-zinc-500">
        My go-to stack for web development is the <i>RILT</i> stack (React, Inertia,
        Laravel, Tailwind). For more content centric sites (like this one), I like
        Astro a lot.
      </p>
    </div>
  </section>
</header>
