---
interface Props {
  link: string
  label: string
  icon: string
  alt: string
}

const { link, label, icon, alt } = Astro.props
---

<a
  class="inline-flex min-w-max items-center space-x-1.5 rounded-md border border-zinc-200 px-2 py-1 text-xs font-medium shadow-xs outline-hidden focus-visible:ring-2 focus-visible:ring-zinc-500 focus-visible:ring-offset-2"
  href={link}
  target="_blank"
  title={alt}
>
  <img
    src={icon}
    {alt}
    class="h-4 w-4"
    loading="eager"
    width="16"
    height="16"
    decoding="async"
  />
  <span>{label}</span>
  <i data-lucide="external-link" class="size-3 shrink-0 text-zinc-500"></i>
</a>
